/* Minimal CSS Reset */
html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(33, 37, 41);
    background-image: url(https://picsum.photos/id/60/1600/1000);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{ 
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    text-align: center;
    color: black;
    margin: 0 60px 60px 60px;
    padding: 12px;
    font-size: 5rem;
    border: solid 5px black;
    background-color: rgb(255, 193, 7);
    box-shadow: rgba(255, 193, 7, 0.4) -5px 5px, rgba(255,193,7, 0.3) -10px 10px, rgba(255,193,7, 0.2) -15px 15px, rgba(255,193,7, 0.1) -20px 20px, rgba(255,193,7, 0.05) -25px 25px;
}

@media (max-width: 750px) {
    .container > h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .container > h1 {
        font-size: 2rem;
    }
}