/* Minimal CSS Reset */
html {
    width: 100%;
    /* height: 100%; */
}

body {
    min-width: 100%;
    /* height: 100%; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(33, 37, 41);
}

.container{ 
    margin-top: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(33, 37, 41);
    background-image: url(https://picsum.photos/id/420/1600/1000);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container > h1 {
    text-align: center;
    color: white;
    margin: 60px;
    padding: 12px;
    font-size: 3rem;
    /* border: solid 5px black; */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.7) -16px 16px 20px 0px;
}

@media (max-width: 480px) {
    .container > h1 {
        font-size: 2rem;
    }
}