* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

/* 
navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffc107;
    height: 80px;
}  */

main {
    background-color: rgb(33, 37, 41);
    color: white;
    min-height: 100vh;
}

.welcome-message {
    width: 100%;
    flex-direction: column;
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.categories {
    padding: 15px;
    gap: 50px;
}

h1 {
    text-align: center;
    color: white;
}

.card-title {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.card-body {
    color: white;
    background-color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body h5, p {
    color: white;
    background-color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 90px;
    background: #ffc107;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    color: white;
}

.card {
    align-items: center;
    background-color: aquamarine;
}

