/* Minimal CSS Reset */
html {
    width: 100%;
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Styling for message_board.html */

nav {
    width: 100%;
    /* height: 80px; */
}

body {
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-container {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    text-align: center;
}

#card-container h1 {
    margin-top: 30px;
}

.card {
    margin: auto;
    width: 70%;
    height: 460px;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    border: solid 5px black;
    box-shadow: rgba(255, 193, 7, 0.4) -5px 5px, rgba(255,193,7, 0.3) -10px 10px, rgba(255,193,7, 0.2) -15px 15px, rgba(255,193,7, 0.1) -20px 20px, rgba(255,193,7, 0.05) -25px 25px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px;
    gap: 12px;
}

.card-image-and-description {
    display: flex;
    height: 90%;
    gap: 24px;
}

.image {
    width: 70%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px black;
    overflow: hidden;
    /* Center img inside container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-description {
    width: 30%;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

.card-description > h3 {
    border: solid 2px black;
    border-radius: 20px;
    font-size: 1.2rem;
    height: 40px;
    padding: 8px 24px;
    background-color:#ffc107;
    text-align: center;
    white-space: nowrap;
}

.card-description > p {
    padding-top: 18px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card > h2 {
    width: 100%;
}


footer {
    width: 100%;
    height: 90px;
    background: #ffc107;
}

#scroll-to-top {
    width: 50px;
    height: 50px;
    filter: invert(88%) sepia(45%) saturate(0%) hue-rotate(268deg) brightness(112%) contrast(100%);
}

#scroll-to-top:hover {
    transition: 0.8s;
    filter: invert(83%) sepia(28%) saturate(3534%) hue-rotate(353deg) brightness(101%) contrast(101%);
}

.scroll-to-top-text {
    color: white;
    padding-bottom: 30px;
}