/* Minimal CSS Reset */
html {
    width: 100%;
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Styling for message_board.html */

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

/* previous page button */

#prev-page {
    width: 40px;
    height: 40px;
    background-color: inherit;
}

body {
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    padding-bottom: 140px;
}

#card-container h1 {
    margin-top: 140px;
}

.card {
    margin: auto;
    width: 40%;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    border: solid 5px black;
    box-shadow: rgba(255, 193, 7, 0.4) -5px 5px, rgba(255, 193, 7, 0.3) -10px 10px, rgba(255, 193, 7, 0.2) -15px 15px, rgba(255, 193, 7, 0.1) -20px 20px, rgba(255, 193, 7, 0.05) -25px 25px;

    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
    gap: 5px;

    max-height: 1000px;
    overflow-y: auto;

}


.card-image-and-description {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 5px;

}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

.card-title {
    font-size: 16px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 10px;

}

.card-date {
    font-size: 12px;
    font-weight: bold;
    width: 25%;
    text-align: right;
}

.card-user {
    font-size: 18px;
    font-weight: bold;


}

.image-container {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px black;
    overflow: hidden;
    margin-bottom: 6px;
}

.card-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}



.card-description-container {
    width: 50%;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-description {
    width: 100%;
    font-size: 16px;
    /* display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical; */

}

.card>h2 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* overflow: hidden; */

}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px; */
    height: 10%;
}

.like-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-top: solid 2px rgb(109, 106, 106);
    padding-top: 10px;
}

.comment-button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: rgb(34, 30, 30);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold;

}

.comment-button:hover {
    background-color: #eaeaea;
}

.comment-button img {
    width: 25px;
    height: auto;
}

.like-button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: rgb(34, 30, 30);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold;
}

.like-button:hover {
    background-color: #eaeaea;
}

.like-button img {
    width: 25px;
    height: auto;
}

.comments-list {
    border: solid 2px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.comment {
    display: table;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #F0F2F5;
    border-radius: 20px;
    align-items: flex-start;
    font-size: 12px;
    /* Alinea el contenido al principio del contenedor flex */
}

.add-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.submit-comment {
    border-radius: 15px;

}

.text {
    width: 100%;
    height: 30%;
    margin-bottom: 15px;
}

.comment-section {
    max-height: none;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: #ffc107;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;

}

#profile-button,
#add-post,
#home-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#add-post img, #home-button img, #profile-button img{
    width: 40px;
    height: 40px;
}

/* #add-post p {
    color: black;
    text-align: center;
} */


#media-preview, #media {
    width: 120px;
    height: 120px;
}

/* The Modal (background) */
.modal {
    /* display: none; */
    /* Oculto por defecto */
    /* position: fixed; */
    /* Se queda fijo en su lugar */
    /* z-index: 1; */
    /* Se sitúa sobre los demás elementos */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    /* overflow: auto; */
    /* Habilita el desplazamiento si es necesario */
    /* background-color: rgb(0, 0, 0); */
    /* Color de fondo */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Color de fondo con opacidad */
}

.modal-content {
    /* background-color: #fefefe; */
    /* margin: 15% auto; */
    /* 15% desde la parte superior y centrado */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    /* width: 60%; */
    /* Puede ajustarse según la necesidad */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
















































/* media queries */

@media (max-width: 900px) {

    .card-description {}

    .card-image-and-description {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        border: none;
        
    }

    .comment-list {
        max-height: 200px;  
        border: none
    }

    .card-image {
       border: none;
    }

    .card {
        width: 93%;
        margin-top: 6px;
        border: none;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% desde la parte superior y centrado */
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        height: 85%;
        /* Puede ajustarse según la necesidad */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

   #card-container h1 {
       margin-top: 70px;
       font-size: 22px;
       margin-bottom: 15px;
   }

   .text {
        border-radius: 15px;
        width: 85%;
        height: 35px;
        border: 1px solid #958f8f;
        background-color: #F0F2F5;
        margin-bottom: 0px;
   }

   .add-comment {
        display: flex;
        flex-direction: row;
        height: 15px;
        gap: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
   }

   .submit-comment {
        height: 35px;
        border-radius: 15px;
   }



}