/* Minimal CSS Reset */
html {
    width: 100%;
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Styling for message_board.html */

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

/* previous page button */

#prev-page {
    width: 40px;
    height: 40px;
    background-color: inherit;
}

body {
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

#card-container h1 {
    margin-top: 140px;
}

.card {
    margin: auto;
    width: 70%;
    height: 80%;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    border: solid 5px black;
    box-shadow: rgba(255, 193, 7, 0.4) -5px 5px, rgba(255,193,7, 0.3) -10px 10px, rgba(255,193,7, 0.2) -15px 15px, rgba(255,193,7, 0.1) -20px 20px, rgba(255,193,7, 0.05) -25px 25px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px;
    gap: 12px;

    max-height: 1000px;
    overflow-y: auto;
}


.card-image-and-description {
    display: flex;
    height: 90%;
    gap: 24px;
}

.image-container {
    width: 70%;
    height: 90%;
    border-radius: 20px;
    border: solid 2px black;
    overflow: hidden;
    margin-bottom: 6px;
}

.card-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.card-description {
    width: 30%;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-description > h3 {
    border: solid 2px black;
    border-radius: 20px;
    font-size: 1.2rem;
    height: 40px;
    padding: 8px 24px;
    background-color:#ffc107;
    text-align: center;
    white-space: nowrap;
    min-width: 130px;
}

.card-description > p {
    padding-top: 18px;
    width: 100%;
    /* display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical; */
    overflow: scroll;
}

.card > h2 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* overflow: hidden; */
    
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px; */
}

.like-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-top: solid 2px rgb(109, 106, 106);
    padding-top: 10px;
}

.comment-button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: rgb(34, 30, 30);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;

}

.comment-button:hover {
    background-color: #eaeaea;
}

.comment-button img {
    width: 25px;
    height: auto;
}

.like-button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: rgb(34, 30, 30);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.like-button:hover {
    background-color: #eaeaea;
}

.like-button img {
    width: 25px;
    height: auto;
}

.comments-list {
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;
}

.comment {
    display: table;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #F0F2F5;
    border-radius: 20px;
    align-items: flex-start;
    /* Alinea el contenido al principio del contenedor flex */
}


#scroll-to-top {
    width: 50px;
    height: 50px;
    filter: invert(88%) sepia(45%) saturate(0%) hue-rotate(268deg) brightness(112%) contrast(100%);
}

#scroll-to-top:hover {
    transition: 0.8s;
    filter: invert(83%) sepia(28%) saturate(3534%) hue-rotate(353deg) brightness(101%) contrast(101%);
}

.scroll-to-top-text {
    color: white;
    padding-bottom: 140px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: #ffc107;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    
}

#add-post, #home-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#add-post img {
    width: 40px;
    height: 40px;
}

#home-button img {
    width: 38px;
    height: 38px;
    filter: brightness(0) invert(0);
}

#add-post p {
    color: black;
    text-align: center;
}



/* media queries */

@media (max-width: 900px) {
    
    .card-description > p {
        display: none;
    }

    .card-image-and-description {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .card {
        width: 90%;
    }
}

@media (max-width: 350px) {
}