* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* footer {
    width: 100%;
    height: 90px;
    background: #ffc107;
    display: flex;
    justify-content: space-around;
} */

#title {
    width: 385px;
}

.submit-button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffc107;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

#message-sent {
    display: flex;
    align-items: center;
    color: #ffc107;
    border-radius: 50px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home-button img, #back-button img{
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(0);
    
}
#back-button, #home-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#home-button p{
    color: black;
    text-align: center;
    margin-bottom: 0;
}


#back-button p{
    color: black;
    text-align: center;
    margin-bottom: 0;
}

#media-preview {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#media {
    width: 100px;
    height: auto;
}

#media-container {
    display: flex
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: #ffc107;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    
}


@media (max-width: 480px) {
    form {
        width: 400px;
    }
}

@media (max-width: 430px) {
    form {
        width: 350px;
    }
}

@media (max-width: 380px) {
    form {
        width: 300px;
    }
}
