* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(33, 37, 41);
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgb(255,250,205);
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

#prev-page{
    margin-top: 10px;
    filter:contrast(0);
}

#post-title-placeholder{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 10px 0 10px;
}

.fa-2xl{
    align-self: center;
}

#post-image-placeholder{
    height: auto;
    max-width: 100%;
    padding:20px;
    margin: 0 auto;
}

#post-description-placeholder {
    margin: 0 10px 0 10px;
    padding: 0 0 10px 0;
    font-size: 20px;
}

#post-comment {
    margin: 10px;
}

.submit-button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffc107;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    float: right;
}

/* Make title and star in the same line */
#date-and-bookmark {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px 0 5px;
}

/* Allow textarea to resize */
form > textarea {
    width: 100%;
}

.fa-upload {
    align-self: center;
    margin-right: 10px;
}


/* previous page button */

#prev-page {
    width: 40px;
    height: 40px;
    background-color: inherit;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(103%) contrast(102%);
    margin: 0;
}

#back-button {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: white;
    margin-top: 50px;
}

/* align date on right */
#posted-date-placeholder{
    margin: 0 10px;
    color: grey;
}


#date-and-bookmark{
    display: flex;
    justify-content: space-between;
}

#bookmark-icon{
    align-self: center;
}

/* fill the bookmark icon when it is clicked */
.fa-solid{
    color: #ffc107;
}

.fa-bookmark{
    margin-right: 15px;
}

#back-button {
    display: flex;
    align-items: center;
}