* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    background-color: rgb(33, 37, 41);
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 100vw;
}

#prev-page{
    margin: 0 10px;
    color: black;
}

#post-title-placeholder{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;; 
}

.fa-star{
    align-self: center;
}

#post-image-placeholder{
    height: auto;
    max-width: 100%;
    padding:10px;
}

#post-description-placeholder {
    margin: 20px;
    font-size: 30px;
}

#post-comment {
    margin: 10px;
}

.submit-button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffc107;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    float: right;
}

/* Make title and star in the same line */
#title-and-star {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Allow textarea to resize */
form > textarea {
    width: 100%;
}

#upload-media-placeholder{
    border: 1px dashed black;
    padding: 8px;
    margin: 5px 50px 10px;
    display: flex;
    justify-content: center;
}

.fa-upload {
    align-self: center;
    margin-right: 10px;
}

/* #upload-media-placeholder > p {
    align-self: center;
    margin: 0;
} */

/* previous page button */

#prev-page {
    width: 40px;
    height: 40px;
    background-color: inherit;
}

/* align date on right */
#posted-date-placeholder{
    margin: 0 10px;
    color: grey;
}